{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p>Your username and password didn't match. Please try again.</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}


    <form method="post" action="{% url 'login' %}">
        {% csrf_token %}
        <div id="login-box">
            <div class="left">
                <h1>Sign in</h1>


                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required/>
                <input class="form-control" type="password" name="password" id="password" placeholder="Password" required/>

                <input type="submit" name="signup_submit" value="Sign me in"/>



                    {# Assumes you setup the password_reset view in your URLconf #}
                    <a href="{% url 'password_reset' %}">Lost password?</a>


            </div>

            <div class="right">
                <span class="loginwith">Sign in with<br/>social network</span>

                <button class="social-signin facebook"><a href="{% url 'social:begin' 'facebook' %}">Log in with
                    facebook</a>
                </button>
                <button class="social-signin twitter">Log in with Twitter</button>
                <button class="social-signin google"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with
                    Google</a>
                </button>
            </div>
            <div class="or">OR</div>
        </div>
    </form>


{% endblock %}