{% extends "base.html" %}
{% load static %}
{% block content %}
    {% if form.errors %}
        <p>Password did not match</p>
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p>Your account doesn't have access to this page. To proceed,
                please login with an account that has access.</p>
        {% else %}
            <p>Please login to see this page.</p>
        {% endif %}
    {% endif %}


    <form class="form-horizontal" method="post" action="{% url 'shop_ecommerce:register' %}">
        {% csrf_token %}
        <div id="login-box">
            <div class="left">
                <h1>Sign up</h1>


                {#        {{ form }}#}
                {##}
                {#        <div class="form-group">#}
                {#            <div class="col-sm-10 col-sm-offset-2">#}
                {#                <button type="submit" class="btn btn-primary">Sign Up</button>#}
                {#            </div>#}
                {#        </div>#}

                <input class="form-control" type="text" name="username" id="username" placeholder="Username" required/>
                <input class="form-control" type="text" name="email" id="email" placeholder="E-mail" required/>
                <input class="form-control" type="password" name="password1" id="password1" placeholder="Password"
                       required/>
                <input class="form-control" type="password" name="password2" id="password2"
                       placeholder="Retype password" required/>

                <input type="submit" name="signup_submit" value="Sign me up"/>


            </div>

            <div class="right">
                <span class="loginwith">Sign in with<br/>social network</span>

                <button class="social-signin google"><a href="{% url 'social:begin' 'google-oauth2' %}">Login with
                    Google</a></button>
                <button class="social-signin facebook"><a href="{% url 'social:begin' 'facebook' %}">Log in with
                    facebook</a></button>
                <button class="social-signin twitter"><a href="{% url 'social:begin' 'twitter' %}">Login with Twitter</a></button>

            </div>
            <div class="or">OR</div>
        </div>
    </form>





{% endblock %}