{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load app_filters %}
{% block content %}
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'shop_ecommerce:index' %}">Home</a></li>
                <li class="active">Products</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">

                {% include 'partials/aside_widgets.html' %}


                <!-- MAIN -->
                <div id="main" class="col-md-9">
                    <!-- store top filter -->
                    <div class="store-filter clearfix">
                        <div class="pull-left">
                            <div class="row-filter">
                                <a href="#"><i class="fa fa-th-large"></i></a>
                                <a href="#" class="active"><i class="fa fa-bars"></i></a>
                            </div>
                            <div class="sort-filter">
                                <span class="text-uppercase">Sort By:</span>
                                <select class="input">
                                    <option value="0">Position</option>
                                    <option value="0">Price</option>
                                    <option value="0">Rating</option>
                                </select>
                                <a href="#" class="main-btn icon-btn"><i class="fa fa-arrow-down"></i></a>
                            </div>
                        </div>

                    </div>
                    <!-- /store top filter -->

                    <!-- STORE -->
                    <div id="store">
                        <!-- row -->
                        <div class="row">
                            <!-- Product Single -->
                            {% for product in allproduct_pages %}

                                <div class="col-md-4 col-sm-6 col-xs-6">
                                    <div class="product product-single">
                                        <div class="product-thumb">

                                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i><a
                                                    href="{% url 'shop_ecommerce:single' product.slug %}"> Quick
                                                view</a>
                                            </button>

                                            {% thumbnail product.image.image "262x350" crop="center" as im %}
                                                <img src="{{ im.url }}" alt="">
                                            {% endthumbnail %}
                                        </div>
                                        <div class="product-body">
                                            <h3 class="product-price">Rs. {{ product.price }}
                                                <del class="product-old-price">{{ product.discount }}</del>
                                            </h3>
                                            <div class="product-rating">
                                                {% for i in product.avg_rating|range %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                            </div>
                                            <h2 class="product-name"><a
                                                    href="{% url 'shop_ecommerce:single' product.slug %}">{{ product.title }}</a>
                                            </h2>
{#                                            <div class="product-btns">#}
{#                                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i>#}
{#                                                </button>#}
{#                                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i>#}
{#                                                </button>#}
{#                                                <button class="primary-btn add-to-cart"><i#}
{#                                                        class="fa fa-shopping-cart"></i>#}
{#                                                    Add to Cart#}
{#                                                </button>#}
{#                                            </div>#}
                                        </div>
                                    </div>
                                </div>
                                <!-- /Product Single -->

                            {% endfor %}

                        </div>
                        <!-- /row -->
                    </div>
                    <!-- /STORE -->

                    <!-- store bottom filter -->
                    <div class="store-filter clearfix">

                        <div class="pull-right">
                            <ul class="store-pages">
                                <li><span class="text-uppercase">Page:</span></li>

                                <li>
                                    {% if allproduct_pages.has_previous %}
                                        <a href="?page={{ allproduct_pages.previous_page_number }}"
                                           aria-label="Previous">
                                            <span aria-hidden="true">&laquo;</span>
                                        </a>
                                    {% endif %}
                                </li>
                                {% for page in paginator.page_range %}
                                    <li><a href="?page={{ page }}">{{ page }}</a></li>
                                {% endfor %}
                                <li>
                                    {% if allproduct_pages.has_next %}
                                        <a href="?page={{ allproduct_pages.next_page_number }}" aria-label="Next">
                                            <span aria-hidden="true">&raquo;</span>
                                        </a>
                                    {% endif %}
                                </li>

                            </ul>
                        </div>
                    </div>
                    <!-- /store bottom filter -->
                </div>
                <!-- /MAIN -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
{% endblock %}