{% load static %}
{% load thumbnail %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

    <title>Ganan Maru Pasa</title>

    <!-- Google font -->
    <link href="https://fonts.googleapis.com/css?family=Hind:400,700" rel="stylesheet">

    <!-- Bootstrap -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}"/>

    <!-- Slick -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick.css' %}"/>
    <link type="text/css" rel="stylesheet" href="{% static 'css/slick-theme.css' %}"/>

    <!-- nouislider -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/nouislider.min.css' %}"/>

    <!-- Font Awesome Icon -->
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}">

    <!-- Custom stlylesheet -->
    <link type="text/css" rel="stylesheet" href="{% static 'css/style.css' %}"/>

    <!-- Css for registration -->
    <link rel="stylesheet" href="{% static 'css/singup.css' %}">
    <!-- end registration css -->


    <!-- for map-->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css"
          integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">

    <link href="http://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.css" rel="stylesheet"
          type='text/css'>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>

<body>
<!-- HEADER -->
<header>
    <!-- top Header -->
    <div id="top-header">
        <div class="container">
            <div class="pull-left">
                <span>Welcome to Ganan Maru Pasa!</span>
            </div>
            <div class="pull-right">
                <ul class="header-top-links">
                    <li><a href="#">FAQ</a></li>
                    <li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">ENG <i
                                class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">English (ENG)</a></li>
                        </ul>
                    </li>
                    <li class="dropdown default-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">NRS <i
                                class="fa fa-caret-down"></i></a>
                        <ul class="custom-menu">
                            <li><a href="#">NRP (Rs.)</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <!-- /top Header -->

    <!-- header -->
    <div id="header">
        <div class="container">
            <div class="pull-left">
                <!-- Logo -->
                <div class="header-logo">
                    <a class="logo" href="#">
                        <img src="./img/logo.png" alt="">
                    </a>
                </div>
                <!-- /Logo -->

                <!-- Search -->
                <div class="header-search">


                    <form action="{% url 'shop_ecommerce:search' %}" method="get">
                        {% csrf_token %}
                        <input class="input search-input" name="q" type="text" placeholder="Enter your keyword"
                               required>
                        <select class="input search-categories">
                            <option value="0">All Categories</option>
                            <option value="1">Category 01</option>
                            <option value="1">Category 02</option>
                        </select>

                        <button class="search-btn"><i class="fa fa-search"></i></button>
                    </form>
                </div>
                <!-- /Search -->
            </div>
            <div class="pull-right">
                <ul class="header-btns">
                    {% if not request.user.is_authenticated %}
                        <!-- Account -->
                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                            </div>

                            <a href="{% url 'login' %}" class="text-uppercase">Login</a> / <a
                                href="{% url 'shop_ecommerce:register' %}" class="text-uppercase">Join</a>
                            <ul class="custom-menu">

                                <li><a href="{% url 'login' %}"><i class="fa fa-unlock-alt"></i> Login</a>
                                </li>
                                <li><a href="{% url 'shop_ecommerce:register' %}"><i class="fa fa-user-plus"></i> Create
                                    An
                                    Account</a></li>
                            </ul>
                        </li>
                    {% else %}

                        <li class="header-account dropdown default-dropdown">
                            <div class="dropdown-toggle" role="button" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-user-o"></i>
                                </div>
                                <strong class="text-uppercase">My Account <i class="fa fa-caret-down"></i></strong>
                            </div>

                            <ul class="custom-menu">

                                <li><a href="#"><i class="fa fa-user-circle-o"></i> Profile</a>
                                </li>
                                <li><a href="{% url 'logout' %}"><i class="fa fa-user-plus"></i>Logout</a></li>
                            </ul>
                        </li>


                        <!-- Cart -->

                        <li class="header-cart dropdown default-dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">
                                <div class="header-btns-icon">
                                    <i class="fa fa-shopping-cart"></i>

                                </div>
                                <strong class="text-uppercase">My Cart:</strong>
                                <br>

                                <span>Rs. {{ totals.total_amount }}</span>

                            </a>
                            <div class="custom-menu">
                                <div id="shopping-cart">
                                    <div class="shopping-cart-list">
                                        {% for item in totals %}
                                            <div class="product product-widget">
                                                <div class="product-thumb">
                                                    {% thumbnail item.product.image.image "60x60" crop="center" as im %}
                                                        <img src="{{ im.url }}">
                                                    {% endthumbnail %}
                                                </div>
                                                <div class="product-body">
                                                    <h3 class="product-price">Rs. {{ item.product.price }} <span
                                                            class="qty">x3</span></h3>
                                                    <h2 class="product-name"><a href="#">{{ item.product.title }}</a>
                                                    </h2>
                                                </div>
                                                <button class="cancel-btn"><i class="fa fa-trash"></i></button>
                                            </div>
                                        {% endfor %}
                                    </div>
                                    <div class="shopping-cart-btns">
                                        <button class="main-btn"><a href="{% url 'shop_ecommerce:cart' %}">View Cart</a> </button>
                                        <button class="primary-btn"><a href="{% url 'shop_ecommerce:checkout' %}">Checkout</a><i
                                                class="fa fa-arrow-circle-right"></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </li>



                        <!-- /Cart -->




                    {% endif %}


                    <!-- Mobile nav toggle-->
                    <li class="nav-toggle">
                        <button class="nav-toggle-btn main-btn icon-btn"><i class="fa fa-bars"></i></button>
                    </li>
                    <!-- / Mobile nav toggle -->
                </ul>
            </div>
        </div>
        <!-- header -->
    </div>
    <!-- container -->
</header>
<!-- /HEADER -->

<!-- NAVIGATION -->
<div id="navigation">
    <!-- container -->
    <div class="container">
        <div id="responsive-nav">
            <!-- category nav -->
            <div class="category-nav show-on-click">
                <span class="category-header">Categories <i class="fa fa-list"></i></span>
                <ul class="category-list">
                    {% for a_category in categories %}
                    <li class="dropdown side-dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" aria-expanded="true">{{ a_category.title }} <i
                                class="fa fa-angle-right"></i></a>
                        <div class="custom-menu">
                            <div class="row">
                                <div class="col-md-4">
                                    <ul class="list-links">
                                        <li>
                                            <h3 class="list-links-title">Categories</h3></li>
                                        {% for i in subcategories %}
                                                {% if a_category.id == i.category_id %}
                                                    <li>
                                                        <a href="{% url 'shop_ecommerce:sub_wise' i.slug %}">{{ i.title }}</a>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}

                                    </ul>
                                    <hr class="hidden-md hidden-lg">
                                </div>

                            </div>

                        </div>
                    </li>
                    {% endfor %}

                    <li><a href="{% url 'shop_ecommerce:product_wise' %}">View All</a></li>
                </ul>
            </div>
            <!-- /category nav -->

            <!-- menu nav -->
            <div class="menu-nav">
                <span class="menu-header">Menu <i class="fa fa-bars"></i></span>
                <ul class="menu-list">
                    <li><a href="{% url 'shop_ecommerce:index' %}">Home</a></li>

                    {% for a_category in categories %}
                        <li class="dropdown mega-dropdown"><a class="dropdown-toggle" data-toggle="dropdown"
                                                              aria-expanded="true">{{ a_category.title }}<i
                                class="fa fa-caret-down"></i></a>
                            <div class="custom-menu">
                                <div class="row">
                                    <div class="col-md-4">
                                        <ul class="list-links">
                                            <li>
                                                <h3 class="list-links-title">Categories</h3></li>
                                            {% for i in subcategories %}
                                                {% if a_category.id == i.category_id %}
                                                    <li>
                                                        <a href="{% url 'shop_ecommerce:sub_wise' i.slug %}">{{ i.title }}</a>
                                                    </li>
                                                {% endif %}

                                            {% endfor %}
                                        </ul>
                                        <hr class="hidden-md hidden-lg">
                                    </div>
                                </div>

                            </div>
                        </li>
                    {% endfor %}


                    </li>
                    <li><a href="{% url 'shop_ecommerce:product_wise' %}">All Products</a></li>
                    {% for a_page in navbar_pages %}
                        <li><a
                                href="{% url 'cms:page' a_page.slug %}">{{ a_page.title }}</a>
                        </li>
                    {% endfor %}


                </ul>
            </div>
            <!-- menu nav -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- /NAVIGATION -->
{% block content %}
{% endblock %}
<!-- FOOTER -->
<footer id="footer" class="section section-grey">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <!-- footer logo -->
                    <div class="footer-logo">
                        <a class="logo" href="#">
                            <img src="./img/logo.png" alt="">
                        </a>
                    </div>
                    <!-- /footer logo -->

                    <p>Ganan-Maru Pasa, a world oldest online shopping center providing services since 17 century. You
                        can get more than millions of differents items and buy easily.</p>

                    <!-- footer social -->
                    <ul class="footer-social">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-pinterest"></i></a></li>
                    </ul>
                    <!-- /footer social -->
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">My Account</h3>
                    <ul class="list-links">
                        <li><a href="{% url 'shop_ecommerce:register' %}">My Account</a></li>
                        <li><a href="{% url 'shop_ecommerce:cart' %}">My Wishlist</a></li>
                        <li><a href="{% url 'shop_ecommerce:checkout' %}">Checkout</a></li>
                        <li><a href="{% url 'login' %}">Login</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <div class="clearfix visible-sm visible-xs"></div>

            <!-- footer widget -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Customer Service</h3>
                    <ul class="list-links">
                        {% for a_page in navbar_pages %}
                            <li><a
                                    href="{% url 'cms:page' a_page.slug %}">{{ a_page.title }}</a>
                            </li>
                        {% endfor %}
                        <li><a href="#">Shiping & Return</a></li>
                        <li><a href="#">Shiping Guide</a></li>
                        <li><a href="#">FAQ</a></li>
                    </ul>
                </div>
            </div>
            <!-- /footer widget -->

            <!-- footer subscribe -->
            <div class="col-md-3 col-sm-6 col-xs-6">
                <div class="footer">
                    <h3 class="footer-header">Stay Connected</h3>
                    <p>We are always with everyone. Keep update.....</p>
                    <form>
                        <div class="form-group">
                            <input class="input" placeholder="Enter Email Address">
                        </div>
                        <button class="primary-btn">Join Newslatter</button>
                    </form>
                </div>
            </div>
            <!-- /footer subscribe -->
        </div>
        <!-- /row -->
        <hr>
        <!-- row -->
        <div class="row">
            <div class="col-md-8 col-md-offset-2 text-center">
                <!-- footer copyright -->
                <div class="footer-copyright">

                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | With <i class="fa fa-heart-o" aria-hidden="true"></i> by
                    <a href="https://gananmarupasa.com" target="_blank">Ganan-Maru Pasa</a>

                </div>
                <!-- /footer copyright -->
            </div>
        </div>
        <!-- /row -->
    </div>
    <!-- /container -->
</footer>
<!-- /FOOTER -->

<!-- jQuery Plugins -->
<script src="{% static 'js/jquery.min.js' %}"></script>
<script src="{% static 'js/bootstrap.min.js' %}"></script>
<script src="{% static 'js/slick.min.js' %}"></script>
<script src="{% static 'js/nouislider.min.js' %}"></script>
<script src="{% static 'js/jquery.zoom.min.js' %}"></script>
<script src="{% static 'js/main.js' %}"></script>

</body>


</html>
