{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

    <div class="col-md-12">
        <div class="order-summary clearfix">
            <div class="section-title">
                <h3 class="title">Order Review</h3>
            </div>
            <table class="shopping-cart-table table">
                <thead>
                <tr>
                    <th>Product</th>
                    <th></th>
                    <th class="text-center">Price</th>
                    <th class="text-center">Quantity</th>
                    <th class="text-center">Total</th>
                    <th class="text-right"></th>
                </tr>
                </thead>
                <tbody>
                {% for cart in cart_items %}
                    <tr>
                        <td class="thumb">
                            {% thumbnail cart.product.image.image "60x60" crop="center" as im %}
                                <img src="{{ im.url }}">
                            {% endthumbnail %}
                        </td>
                        <td class="details">
                            <a href="#">{{ cart.product.title }}</a>
                            <ul>
                                <li><span>Size: XL</span></li>
                                <li><span>Color: Camelot</span></li>
                            </ul>
                        </td>
                        <td class="price text-center"><strong>Rs. {{ cart.product.price }}</strong><br>
                            <del class="font-weak">
                                <small>$40.00</small>
                            </del>
                        </td>
                        <td class="qty text-center"><input class="input" type="number" value="{{ cart.qty }}"></td>
                        <td class="total text-center"><strong class="primary-color">Rs. {{ cart.total }}</strong></td>
                        <td class="text-right">
                            <form method="post" action="{% url 'shop_ecommerce:remove' %}">
                                {% csrf_token %}
                                <input type="hidden" value="{{ cart.id }}" name="id">
                                <button class="main-btn icon-btn"><i class="fa fa-close"></i></button>
                            </form>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
                <tfoot>
                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>SUBTOTAL</th>
                    <th colspan="2" class="sub-total">Rs. {{ total_amount }}</th>
                </tr>
                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>SHIPING</th>
                    <td colspan="2">Free Shipping</td>
                </tr>
                <tr>
                    <th class="empty" colspan="3"></th>
                    <th>TOTAL</th>
                    <th colspan="2" class="total">$97.50</th>
                </tr>
                </tfoot>
            </table>
            <div class="pull-right">
                <button class="primary-btn"><a href="{% url 'shop_ecommerce:checkout' %}">Check Out</a></button>
            </div>
        </div>

    </div>

{% endblock %}