{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

    <div class="col-12">


            <div class="product product-single">
                <div class="product-thumb">
                    <h2 class="product-name"><a href="#">{{ page.title }}</a></h2>

                    {% thumbnail page.image "1163x365" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}

                </div>


            </div>
            <div class="product-body">

                <h2 class="product-name"><a href="#">{{ page.content }}</a></h2>
            </div>



    </div>


{% endblock %}