{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load app_filters %}
{% block content %}

    <!-- HOME -->
    <div id="home">
        <!-- container -->
        <div class="container">
            <!-- home wrap -->
{#            <div class="home-wrap">#}
                <!-- home slick -->
                <div id="home-slick">
                    <!-- banner -->
                    {% for banner in banners %}
                    <div class="banner banner-1">


                        {% thumbnail banner.image "1200x400" crop="center" as im %}
                            <img src="{{ im.url }}" >
                        {% endthumbnail %}


                    <div class="banner-caption text-center">
							<h2 class="white-color font-weak">
                                {{ banner.content | safe}}
                            </h2>
						</div>



                    </div>
                    {% endfor %}
                    <!-- /banner -->

                </div>
                <!-- /home slick -->
{#            </div>#}
            <!-- /home wrap -->
        </div>
        <!-- /container -->
    </div>
    <!-- /HOME -->


    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->


            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Deals Of The Day</h2>
                        <div class="pull-right">
                            <div class="product-slick-dots-2 custom-dots">
                            </div>
                        </div>
                    </div>
                </div>
                <!-- section title -->

                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    {% for deal in deals %}
                        <div class="product product-single product-hot">
                            <div class="product-thumb">
                                <div class="product-label">
                                    <span class="sale">-{{ deal.discount }}%</span>
                                </div>
                                <ul class="product-countdown">
                                    <li><span>00 H</span></li>
                                    <li><span>00 M</span></li>
                                    <li><span>00 S</span></li>
                                </ul>
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i><a
                                        href="{% url 'shop_ecommerce:single' deal.slug %}"> Quick view
                                </a></button>

                                {% thumbnail deal.image.image "341x455" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">Rs. {{ deal.price }}
                                    <del class="product-old-price">Rs. {{ deal.discount }}</del>
                                </h3>
                                <div class="product-rating">
                                    {% for i in deal.avg_rating|range %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <h2 class="product-name"><a
                                        href="{% url 'shop_ecommerce:single' deal.slug %}">{{ deal.title }}</a></h2>
{#                                <div class="product-btns">#}
{#                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>#}
{#                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>#}
{#                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to#}
{#                                        Cart#}
{#                                    </button>#}
{#                                </div>#}
                            </div>
                        </div>
                    {% endfor %}
                </div>

                <!-- /Product Single -->

                <!-- Product Slick -->
                <div class="col-md-9 col-sm-6 col-xs-6">

                    <div class="row">
                        <div id="product-slick-2" class="product-slick">
                            {% for day in daydeals %}
                                <!-- Product Single -->

                                <div class="product product-single">
                                    <div class="product-thumb">
                                        <button class="main-btn quick-view"><i class="fa fa-search-plus"></i><a
                                                href="{% url 'shop_ecommerce:single' day.slug %}"> Quick view</a>
                                        </button>

                                        {% thumbnail day.image.image "341x455" crop="center" as im %}
                                            <img src="{{ im.url }}" alt="">
                                        {% endthumbnail %}
                                    </div>
                                    <div class="product-body">
                                        <h3 class="product-price">Rs. {{ day.price }}</h3>
                                        <div class="product-rating">
                                            {% for i in day.avg_rating|range %}
                                                <i class="fa fa-star"></i>
                                            {% endfor %}
                                        </div>
                                        <h2 class="product-name"><a
                                                href="{% url 'shop_ecommerce:single' day.slug %}">{{ day.title }}</a>
                                        </h2>
{#                                        <div class="product-btns">#}
{#                                            <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>#}
{#                                            <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>#}
{#                                            <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i>#}
{#                                                Add#}
{#                                                to Cart#}
{#                                            </button>#}
{#                                        </div>#}
                                    </div>
                                </div>
                            {% endfor %}
                            <!-- /Product Single -->
                        </div>
                    </div>

                </div>
                <!-- /Product Slick -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->


    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!-- section title -->
                <div class="col-md-12">
                    <div class="section-title">
                        <h2 class="title">Latest Products</h2>
                    </div>
                </div>
                <!-- section title -->
                {% for naya in latest %}
                    <!-- Product Single -->
                    <div class="col-md-3 col-sm-6 col-xs-6">

                        <div class="product product-single">
                            <div class="product-thumb">
                                <button class="main-btn quick-view"><i class="fa fa-search-plus"></i><a
                                        href="{% url 'shop_ecommerce:single' naya.slug %}"> Quick view
                                </a></button>

                                {% thumbnail naya.image.image "345x455" crop="center" as im %}
                                    <img src="{{ im.url }}" alt="">
                                {% endthumbnail %}
                            </div>
                            <div class="product-body">
                                <h3 class="product-price">Rs. {{ naya.price }}</h3>
                                <div class="product-rating">
                                    {% for i in naya.avg_rating|range %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <h2 class="product-name"><a
                                        href="{% url 'shop_ecommerce:single' naya.slug %}">{{ naya.title }}</a></h2>
{#                                <div class="product-btns">#}
{#                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>#}
{#                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>#}
{#                                    <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to#}
{#                                        Cart#}
{#                                    </button>#}
{#                                </div>#}
                            </div>
                        </div>

                    </div>
                {% endfor %}
                <!-- /Product Single -->
                <!-- /row -->

                <!-- row -->
                <div class="row">
                    <!-- section title -->
                    <div class="col-md-12">
                        <div class="section-title">
                            <h2 class="title">Picked For You</h2>
                        </div>
                    </div>
                    <!-- section title -->

                    <!-- Product Single -->
                    {% for select in choose %}
                        <div class="col-md-3 col-sm-6 col-xs-6">
                            <div class="product product-single">
                                <div class="product-thumb">
                                    <button class="main-btn quick-view"><i class="fa fa-search-plus"></i><a
                                            href="{% url 'shop_ecommerce:single' select.slug %}"> Quick view
                                    </a></button>

                                    {% thumbnail select.image.image "345x455" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                                <div class="product-body">
                                    <h3 class="product-price">Rs. {{ select.price }}</h3>
                                    <div class="product-rating">
                                        {% for i in select.avg_rating|range %}
                                            <i class="fa fa-star"></i>
                                        {% endfor %}
                                    </div>
                                    <h2 class="product-name"><a
                                            href="{% url 'shop_ecommerce:single' select.slug %}">{{ select.title }}</a>
                                    </h2>
{#                                    <div class="product-btns">#}
{#                                        <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>#}
{#                                        <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>#}
{#                                        <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add#}
{#                                            to#}
{#                                            Cart#}
{#                                        </button>#}
{#                                    </div>#}
                                </div>
                            </div>
                        </div>
                        <!-- /Product Single -->
                    {% endfor %}

                    <!-- /row -->
                </div>
                <!-- /container -->
            </div>
            <!-- /section -->

{% endblock %}