{% extends 'base.html' %}
{% load thumbnail %}
{% block content %}

    <div class="col-12">


        {% if page.id == 2 %}
            <div class="container-fluid">
            <h1 class="text-center">Contact Address</h1>
            <hr>
            <div class="row">
                <iframe src="https://maps.google.com/maps?q=khwopa%20engineering%20college&t=&z=17&ie=UTF8&iwloc=&output=embed"
                        width="100%" height="320" frameborder="0" style="border:0" allowfullscreen></iframe>
            </div>
            <div class="row text-center">
                <div class="col-4 box1 pt-4">
                    <a href="tel:+123456789"><i class="fas fa-phone fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block">Phone</h3>
                        <p class="d-none d-lg-block d-xl-block">+977 98xxxxxxxx</p></a>
                </div>
                <div class="col-4 box2 pt-4">
                    <a href=""><i class="fas fa-home fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block">Address</h3>
                        <p class="d-none d-lg-block d-xl-block">Bhaktapur</p></a>
                </div>
                <div class="col-4 box3 pt-4">
                    <a href="mailto:test@test.com"><i class="fas fa-envelope fa-3x"></i>
                        <h3 class="d-none d-lg-block d-xl-block">E-mail</h3>
                        <p class="d-none d-lg-block d-xl-block">gananmarupasal@gnnmp.com</p></a>
                </div>

                <div class="row text-center bg-success text-white" id="author">
                    <div class="col-12 mt-4 h3 ">
                        <a href="#">Ganan-Maru Pasa</a>
                    </div>
                    <div class="col-12 my-2">
                        <a href="https://www.facebook.com/gananmarupasa" target="_blank"><i
                                class="fab fa-facebook fa-3x"></i></a>
                    </div>
                </div>
            </div>




            {#             <div class="col-12">#}
            {#                <div class="mapouter">#}
            {#                    <div class="gmap_canvas" >#}
            {#                        <iframe class="responsive-map" id="gmap_canvas" style="height: 550px;width:1300px"#}
            {#                                src="https://maps.google.com/maps?q=khwopa%20engineering%20college&t=&z=17&ie=UTF8&iwloc=&output=embed"#}
            {#                                frameborder="0" scrolling="no" marginheight="0" marginwidth="0"></iframe>#}
            {#                    </div>#}
            {#                </div>#}
            {#            </div>#}


        {% endif %}
        {#        {% if page.title == 'about' %}#}
        {% if page.id == 1 %}
            <div class="product product-single">
                <div class="product-thumb">


                    {% thumbnail page.image "1163x365" crop="center" as im %}
                        <img src="{{ im.url }}" alt="">
                    {% endthumbnail %}

                </div>


            </div>
            <div class="product-body">

                <h2 class="product-name">{{ page.content|safe }}</h2>
            </div>
        {% endif %}

        </div>


{% endblock %}