{% extends 'base.html' %}
{% load static %}
{% load thumbnail %}
{% load app_filters %}
{% block content %}


    <!-- BREADCRUMB -->
    <div id="breadcrumb">
        <div class="container">
            <ul class="breadcrumb">
                <li><a href="{% url 'shop_ecommerce:index' %}">Home</a></li>
                <li><a href="">{{ single_product.category }}</a></li>
                <li><a href="">{{ single_product.subcategory }}</a></li>
                <li class="active">{{ single_product.title }}</li>
            </ul>
        </div>
    </div>
    <!-- /BREADCRUMB -->

    <!-- section -->
    <div class="section">
        <!-- container -->
        <div class="container">
            <!-- row -->
            <div class="row">
                <!--  Product Details -->
                <div class="product product-details clearfix">
                    <div class="col-md-6">
                        <div id="product-main-view">
                            {% for first in single_product.producthasimage_set.all %}
                                <div class="product-view">
                                    {% thumbnail first.image "1200x1200" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                            {% endfor %}
                        </div>
                        <div id="product-view">
                            {% for first in single_product.producthasimage_set.all %}
                                <div class="product-view">
                                    {% thumbnail first.image "192x192" crop="center" as im %}
                                        <img src="{{ im.url }}" alt="">
                                    {% endthumbnail %}
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="product-body">
                            <div class="product-label">
                                <span>New</span>
                                <span class="sale">-{{ single_product.discount }}%</span>
                            </div>
                            <h2 class="product-name">{{ single_product.title }}</h2>
                            <h3 class="product-price">Rs. {{ single_product.price }}
                                <del class="product-old-price">Rs. {{ single_product.discount }}</del>
                            </h3>
                            <div>
                                <div class="product-rating">
                                     {% for i in single_product.avg_rating|range %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                                </div>
                                <a href="#tab2">3 Review(s) / Add Review</a>
                            </div>
                            <p><strong>Availability:</strong> In Stock</p>
                            <p><strong>Brand:</strong>{{ single_product.brand }}</p>
                            <p>{{ single_product.description|safe|truncatewords:50 }}</p>
                            <div class="product-options">
                                <ul class="size-option">
                                    <li><span class="text-uppercase">Size:</span></li>
                                    <li class="active"><a href="#">S</a></li>
                                    <li><a href="#">XL</a></li>
                                    <li><a href="#">SL</a></li>
                                </ul>
                                <ul class="color-option">
                                    <li><span class="text-uppercase">Color:</span></li>
                                    <li class="active"><a href="#" style="background-color:#475984;"></a></li>
                                    <li><a href="#" style="background-color:#8A2454;"></a></li>
                                    <li><a href="#" style="background-color:#BF6989;"></a></li>
                                    <li><a href="#" style="background-color:#9A54D8;"></a></li>
                                </ul>
                            </div>

                            <div class="product-btns">


                                <form action="{% url 'shop_ecommerce:cart' %}" class="cart" method="POST">
                                    {% csrf_token %}
                                    <input type="hidden" name="product_id" value="{{ single_product.id }}">
                                    <div class="qty-input">
                                        <span class="text-uppercase">QTY: </span>
                                        <input class="input" type="number" size="3" title="Qty"
                                               value="1" name="qty" min="1" step="1" required>


                                    </div>
                                    <div style="padding-top: 10px">
                                    <button class="primary-btn add-to-cart" ><i
                                            class="fa fa-shopping-cart"></i> Add to
                                        Cart
                                    </button>
                                    </div>
                                </form>


                                <div class="pull-right">
                                    <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>
                                    <button class="main-btn icon-btn"><i class="fa fa-share-alt"></i></button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12">
                        <div class="product-tab">
                            <ul class="tab-nav">
                                <li class="active"><a data-toggle="tab" href="#tab1">Description</a></li>
                                <li><a data-toggle="tab" href="#tab1">Details</a></li>
                                <li><a data-toggle="tab" href="#tab2">Reviews (3)</a></li>
                            </ul>
                            <div class="tab-content">
                                <div id="tab1" class="tab-pane fade in active">
                                    <p>{{ single_product.description | safe }}</p>
                                </div>
                                <div id="tab2" class="tab-pane fade in">

                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="product-reviews">
                                                {% for acomment in single_product.productreview_set.all %}
                                                    {#                                                    {% if acomment.product_id == single_product.id %}#}
                                                    <div class="single-review">
                                                        <div class="review-heading">
                                                            <div><a href="#"><i
                                                                    class="fa fa-user-o"></i> {{ acomment.user }}
                                                            </a>
                                                            </div>
                                                            <div><a href="#"><i
                                                                    class="fa fa-clock-o"></i>{{ acomment.pub_date }}

                                                            </a></div>

                                                            <div class="review-rating pull-right">
                                                                {% for iii in acomment.rating|range %}
                                                                    <i class="fa fa-star"></i>
                                                                {% endfor %}
                                                            </div>
                                                        </div>
                                                        <div class="review-body">

                                                            <p>{{ acomment.comment }}</p>

                                                        </div>
                                                    </div>
                                                    {#                                                    {% endif %}#}
                                                {% endfor %}



                                                <ul class="reviews-pages">
                                                    <li class="active">1</li>
                                                    <li><a href="#">2</a></li>
                                                    <li><a href="#">3</a></li>
                                                    <li><a href="#"><i class="fa fa-caret-right"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                        {% if request.user.is_authenticated %}
                                            <div class="col-md-6">
                                                <h4 class="text-uppercase">Write Your Review</h4>

                                                <form class="review-form" method="post"
                                                      action="{% url 'shop_ecommerce:single' single_product.slug %}">
                                                    {% csrf_token %}

                                                    <div class="form-group">
                                                        <textarea class="input" name="comment"
                                                                  placeholder="Your review"></textarea>
                                                    </div>
                                                    <div class="form-group">
                                                        <div class="input-rating">
                                                            <strong class="text-uppercase">Your Rating: </strong>
                                                            <div class="stars">
                                                                <input type="radio" id="star5" name="rating"
                                                                       value="5"/><label for="star5"></label>
                                                                <input type="radio" id="star4" name="rating"
                                                                       value="4"/><label for="star4"></label>
                                                                <input type="radio" id="star3" name="rating"
                                                                       value="3"/><label for="star3"></label>
                                                                <input type="radio" id="star2" name="rating"
                                                                       value="2"/><label for="star2"></label>
                                                                <input type="radio" id="star1" name="rating"
                                                                       value="1"/><label for="star1"></label>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <button class="primary-btn">Submit</button>
                                                </form>

                                            </div>
                                        {% endif %}
                                    </div>


                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <!-- /Product Details -->
            </div>
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

    <!-- section -->
    <div class="section">
    <!-- container -->
    <div class="container">
        <!-- row -->
        <div class="row">
            <!-- section title -->
            <div class="col-md-12">
                <div class="section-title">
                    <h2 class="title">Picked For You</h2>
                </div>
            </div>
            <!-- section title -->
            {% for pick in picked %}
                <!-- Product Single -->
                <div class="col-md-3 col-sm-6 col-xs-6">
                    <div class="product product-single">
                        <div class="product-thumb">
                            <button class="main-btn quick-view"><i class="fa fa-search-plus"></i><a
                                    href="{% url 'shop_ecommerce:single' pick.slug %}"> Quick view</a></button>

                            {% thumbnail pick.image.image "346x460" crop="center" as im %}
                                <img src="{{ im.url }}" alt="">
                            {% endthumbnail %}
                        </div>
                        <div class="product-body">
                            <h3 class="product-price">Rs. {{ pick.price }}</h3>
                            <div class="product-rating">
                                {% for i in pick.avg_rating|range %}
                                        <i class="fa fa-star"></i>
                                    {% endfor %}
                            </div>
                            <h2 class="product-name"><a
                                    href="{% url 'shop_ecommerce:single' pick.slug %}">{{ pick.title }}</a></h2>
{#                            <div class="product-btns">#}
{#                                <button class="main-btn icon-btn"><i class="fa fa-heart"></i></button>#}
{#                                <button class="main-btn icon-btn"><i class="fa fa-exchange"></i></button>#}
{#                                <button class="primary-btn add-to-cart"><i class="fa fa-shopping-cart"></i> Add to Cart#}
{#                                </button>#}
{#                            </div>#}
                        </div>
                    </div>
                </div>
                <!-- /Product Single -->
            {% endfor %}
            <!-- /row -->
        </div>
        <!-- /container -->
    </div>
    <!-- /section -->

{% endblock %}
